#header {
    color: white;
    background: linear-gradient(#f35fc7, #f36811);
}

#header h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.jumbotron {
    padding: 1rem;
}

#labelFont {
    font-size: x-large;
    font-weight: bold;
}

#search-city {
    width: 100%;
}

#search-button {
    width: 100%;
    margin-top: 1em;
    background-color: #f35fc7;
    border-color: black;
}

button.list-group-item.list-group-item-action.active {
    width: 100%;
    margin-top: 1em;
    background-color: #f35fc7;
    border-color: black;
}

hr {
    border-color: black;
}

#current-weather {
    padding-left: 15px;
}

#clear-storage {
    color:grey;
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}

.weather-card {
    width: 9rem;
    background-color: #f35fc7;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    #search-city {
        width:100%;
    }
    #search-button {
        width:100%;
    }
}
@media only screen and (max-width: 575px) {
    #fiveDayForecastUl{
        justify-content: center;
    }
}